.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  header,
  footer {
    text-align: center;
  }

  main {
    display: flex;
    justify-content: space-between;
    width: 80%;

    .left-section {
      flex-grow: 1;
    }

    .right-section {
      text-align: right;
    }
  }
}
