.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
  padding: 20px;
  background-color: #92c7cf;
  -webkit-box-shadow: 9px 10px 5px -4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 9px 10px 5px -4px rgba(0, 0, 0, 0.55);
  box-shadow: 9px 10px 5px -4px rgba(0, 0, 0, 0.55);

  .login-span {
    font-size: 15px;
    color: tomato;
    &.success {
      color: green;
    }
  }
  .register-title {
    font-size: 32px;
    font-weight: bold;
    color: #ffff;

    font-weight: bold;
  }

  .container-login-icon {
    width: 100px;
    height: 100px;
    padding: 10px;
    .login-icon {
      width: 100%;
      height: 100%;
      color: #ffff;
    }
  }
  .login-form {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .login-title {
      margin-bottom: 20px;
      text-align: center;

      font-size: 25px;
    }

    .login-input-container {
      margin-bottom: 15px;

      .login-label {
        display: block;
        margin-bottom: 5px;
      }

      .login-input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #000;
      }
    }

    .login-remember {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 35px;
      padding: 5px;
      margin-bottom: 10px;
      .login-checkbox-container {
        gap: 5px;
        display: flex;
        justify-content: center;
      }
    }

    .login-button {
      width: 100%;
      padding: 10px;
      background-color: #ffee7a;
      color: #000;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background: #bd177a;
        color: #ffff;
      }
    }

    .forgot-password-container {
      color: #92c7cf;
      cursor: pointer;
      transition: text-decoration 0.3s;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: 10px;
    }

    .forgot-password-container:hover {
      text-decoration: underline;
    }
  }
}
